/* temp */

body{
    padding: 2rem 5rem;
}
/* temp */


*,::after,::before{
    box-sizing: border-box;
}

/* default font type */
@import url('https://fonts.googleapis.com/css?family=Poppins:400');

html {font-size: 100%;} /*16px*/

:root{
  /* colors */
    /* primary */
    --primary-100:#e0deff;
    --primary-200: #c1beff;
    --primary-300:#a29dff;
    --primary-400: #837dff;
    --primary-500: #645cff;
    --primary-600: #504acc;
    --primary-700: #3c3799;
    --primary-800: #282566;
    --primary-900: #141233;

    /* grey */
    --grey-50:#F9FAFB;
    --grey-100:#F3F4F6;
    --grey-200:#E5E7EB;
    --grey-300: #9CA3AF;
    --grey-400:#9CA3AF;    ;
    --grey-500:#6B7280;
    --grey-600:#4B5563;
    --grey-700:#374151;
    --grey-800:#1F2937;
    --grey-900:#111827;



/* rest of colors */
    --black: #222;
    --white: #fff;
    --red-light: #f8d7da;
    --red-dark: #842029;
    --green-light: #d1e7dd;
    --green-dark: #0f5132;
  /* fonts */
    --headingFont:'Poppins', sans-serif;
    --bodyFont:'Poppins', sans-serif;
    --smallText:0.7em;

    /* rest of the vars */
    --backgroundColor: var(--grey-50);
    --textColor: var(--grey-900);
    --borderRadius:0.25rem;
    --letterSpacing:1px;
    --transistion:0.3s ease-in-out all;
    --max-width:1120px;
    --fixed-width:600px;

/* box shadow*/
--shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
--shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
--shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.05);
--shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 10px 10px -5px rgba(0, 0, 0, 0.04);


}


body {
  background:var(--backgroundColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color:var(--textColor);
}

p {margin-bottom: 1.5 rem;
max-width: 40em;
}

h1, h2, h3, h4, h5 {
  /* margin: 3rem 0 1.38rem; */
  margin: 0;
  margin-bottom: 1.38rem;

  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text-small {
    font-size: var(--smallText)
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    padding: 0;
}



/* my styles */
.container{
  width:40vw;
  border:5px solid var(--primary-500);
  border-radius: var(--borderRadius);
  max-width: var(--max-width);
}

.generic-img{
  width:100%;
  /* images are by default are inline need to add display block */
  display:block; 
  object-fit: cover;

}

/* img:not(.logo); */
.btn{
  cursor:pointer;
  color:var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding:0.375rem 0.735rem;
  transition: var(--transistion);
  text-transform: capitalize;
}

.btn:hover{
  background: var(--primary-700);
}

/* alerts */
.alert{
  padding: 0.375rem 0.735rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);

}
.alert-danger{
  color:var(--red-dark);
  background:var(--red-light);


}
.alert-success{
  color:var(--green-dark);
  background:var(--green-light);
}

/* form */

.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}
.form-label {
  display: block;
  font-size: var(--smallText);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}

/* alert */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 0.6s linear infinite;
}
.loading {
  margin: 0 auto;
}
/* title */

.title {
  text-align: center;
}

.title-underline {
  background: var(--primary-500);
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: -1rem;
}